// media queries



$__1440:  (max-width: 1440px);
$__m1440:  (min-width: 1440px);

$__1280:  (max-width: 1280px);
$__m1280:  (min-width: 1280px);

$__1024:  (max-width: 1024px);
$__m1024:  (min-width: 1024px);

$__991:  (max-width: 991px);
$__m991:  (min-width: 991px);

$__767:  (max-width: 767px);
$__m767:  (min-width: 767px);

$__480:  (max-width: 480px);
$__m480:  (min-width: 480px);
